* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App {
    font-family: sans-serif;
    text-align: center;
}
.pagination-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;

}

.pagination-button {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #252e38;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}


.pagination__link--disabled {
    color: #6c757d;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
}
.pagination-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-container li {
    margin: 0 5px;
}

.pagination-container li a {
    padding: 5px 5px;
}
.animated-text-field {
    animation: fadeIn 1s ease-in-out; /* Example animation: fade in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.animated-button {
    animation: pulseAnimation 2s ease-in-out infinite;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* CSS */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-animation {
    animation: fade-in 1s ease-in-out;
}

.sale-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #46ef40;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
